body {
	background-color: #222;
	font-family: 'Open Sans', sans-serif, FontAwesome;
	text-rendering: optimizeLegibility;
	margin: 0px;
	color: #ccc;
	text-shadow: 2px 2px 10px #222;
}

p, span {
	font-family: 'Open Sans', sans-serif, FontAwesome;
	font-size: 14px;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	margin: 0;
	pointer-events: auto;
}

#failContainer, #ieFailContainer {
	display: none;
	text-align: center;
	margin: 0px;
	top: 0;
	left: 0;
	margin: 50px;
}

#failContainer p, #ieFailContainer p {
	text-align: left;
	width: 500px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: auto;
    margin-right: auto;
}

#container {
	position: relative;
	margin: 0px;
	width: 100%;
	height: 100%;
}

#adaptiveMap {
	width: 100%;
	height: 100%;
}

.panel {
	z-index: 50;
	background-color: rgba(34,34,34,0.5);
	border-width: 1px;
	border-radius: 6px;
	border-color: #F37321;
	border-style: solid;
}

#spinningWheelContainer {
	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
	padding-top:30px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 40px;
}

#spinningWheel {
	font-size: 20px;
	line-height: 20px;
}

#infoContainer {
	display:none;
	position: absolute;
	top: 45%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	padding:20px;
	width: 400px;
	text-align: center;
	background-color: rgba(34,34,34,0.7);
}

#infoContainer p {
	font-weight: normal;
	margin-bottom: 7px;
}

#infoContainer p:last-child {
	margin-bottom: 0px;
}

#closeInfoButton {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 20px;
	cursor: pointer;
}

#infoButtonContainer {
	text-align: center;
	cursor: pointer;
}

#osu {
	padding-top: 20px;
	font-size: 12px;
	font-weight: 300;
}

#infoButton {
	font-size: 20px;
	padding: 8px;
	cursor: pointer;
	background-color: rgba(34,34,34,0.3);
	border-radius: 4px;
	margin-bottom: 3px;
}

#mapLayersButtonContainer {
	display: none;
	text-align: center;
	cursor: pointer;
	text-shadow: none;
}

.btn-link {
	background-color: rgba(34,34,34,0.3);
	border-radius: 4px;
	font-size: 20px;
	padding: 8px;
	border: 0px;
	line-height: 20px;
}

.open>.btn-link, .btn-link {
	color: #ccc;
}

.btn-link:hover {
	color: #F37321;
	background-color: rgba(34,34,34,0.3);
	border-radius: 4px;
}

.dropdown-menu>.active>a {
	background-color: lightgray;
}

.dropdown-menu>.active>a:hover {
	background-color: gray;
}

.btn-default:hover {
	background-color: rgba(34,34,34,0.5);
	color: #F37321;
	border-color: #DA5520;
}

.multiselect-group {
	color: #222;
	text-shadow: none;
}

#cartoGroupLogo {
	margin-top: 12px;
	pointer-events: none;
}

circle {
	pointer-events: auto;
}

.nav_container {
	margin: 20px 30px 10px 30px;
	display: inline-block;
}

.nav_menu {
	position: absolute;
	width: 240px !important;
	margin-top: 3px !important;
}

#day {
	font-size: 14px;
	line-height: 14px;
	margin-top: 26px;
	display: inline-block;
	font-weight: 600;
}
#month {
	font-size: 26px;
	line-height: 30px;
	font-weight: 600;
}
#year {
	font-size: 14px;
	display: inline-block;
	margin-top: 4px;
	font-weight: 600;
}
.fa:hover {
	color: #DA5520;
}
#volumeToggle {
	padding: 8px;
	font-size: 125%;
	cursor: pointer;
	text-align: left;
	background-color: rgba(34,34,34,0.3);
	border-radius: 4px;
}

#pausePlayButton {
	padding: 8px;
	font-size: 125%;
	cursor: pointer;
	background-color: rgba(34,34,34,0.3);
	border-radius: 4px;
}

.fa-fw {
    text-align: center;
    width: 1.7em;
}

#map-and-zoom-slider {
	z-index: 0;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#zoom-Slider-Container {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	padding-right: 5px;
}
#zoom-slider {
	margin: 15px;
	height: 120px;
	width: 8px;
}

.ui-slider .ui-slider-handle {
	height: 16px;
	width: 16px;
}

#headerContainer {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	margin-left: 20px;
	margin-top: 25px;
	pointer-events: none;
}

#controlContainer {
	display: none;
	position: relative;
	width: 120px;
	text-align: center;
	pointer-events: auto;
	margin-top: 10px;
	z-index: 100;
}

#dateContainer, dialContainer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#dateContainer {
	z-index: 10;
	pointer-events: none;
	cursor: move;
}

#dialContainer {
	cursor: pointer;
}

#videoControls {
	width: 120px;
	text-align: center;
	pointer-events: auto;
}

#logoContainer {
	z-index: 4;
	position: absolute;
	bottom: 0;
	left: 0;
	margin-left: 20px;
	margin-bottom: 11px;
	float: left;
}

#legendContainer {
	z-index: 4;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-right: 6px;
	margin-bottom: 13px;
}

#monoxideLegend {
	margin-left: 130px;
}

.legend {
	margin-top: 24px;
	float: right;
	margin-left: 18px;
	background-color: rgba(34,34,34,0.5);
	padding: 6px;
	border-radius: 4px;
}

.legendLabel, #legendContainer div p {
	font-size: 14px;
	line-height: 14px;
	font-weight: 600;
	margin-left: 14px;
	margin-bottom: 6px;
	fill: #ccc;
}

.colorRamp {
	cursor: move;
}

.units {
	font-size: 11px;
	font-weight: 600;
}

a, a:visited, a:hover, a:active {
	color: #DA5520;
	text-decoration: none;
}

h1 {
	color: #ccc;
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	line-height: 26px;
	pointer-events: auto;
	padding-bottom: 4px;
	margin: 0;
}

#resizable_map_container {
}

#video1 {
	display: none;
}

#animate {
	width: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#stopAnimate {
	width: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}
